@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="mainpage">

    <div class="undraw">
        <img src="../images/undraw_Analysis_re_w2vd.svg" alt="Alternate Text" />
    </div>

    <div class="exambtn">
        <a class="examinator text-white rounded-pill" asp-page="/createTest">გამოცდის შექმნა</a>
    </div>


    <section class="card-list">
        <div class="my-card">
            <header class="my-card-header">
                <p>paragraph</p>
                <h2>Card tricks!</h2>
            </header>
        </div>

        <div class="my-card">
            <header class="my-card-header">
                <p>paragraph 2</p>
                <h2>Card tricks!</h2>
            </header>
        </div>

        <div class="my-card">
            <header class="my-card-header">
                <p>paragraph 2</p>
                <h2>Card tricks!</h2>
            </header>
        </div>

        <div class="my-card">
            <header class="my-card-header">
                <p>paragraph 2</p>
                <h2>Card tricks!</h2>
            </header>
        </div>

        <div class="my-card">
            <header class="my-card-header">
                <p>paragraph 2</p>
                <h2>Card tricks!</h2>
            </header>
        </div>

        <div class="my-card">
            <header class="my-card-header">
                <p>paragraph 2</p>
                <h2>Card tricks!</h2>
            </header>
        </div>

        <div class="my-card">
            <header class="my-card-header">
                <p>paragraph 2</p>
                <h2>Card tricks!</h2>
            </header>
        </div>

        <div class="my-card">
            <header class="my-card-header">
                <p>paragraph 2</p>
                <h2>Card tricks!</h2>
            </header>
        </div>
    </section>
</div>
