<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - USML_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fontsFolder/css/alk-sanet.min.css">
    <link rel="stylesheet" href="~/css/fontsFolder/bpg-arial-caps-master/css/bpg-arial-caps.min.css">
    <link rel="stylesheet" href="~/css/createTestPage.css" />
    <link rel="stylesheet" href="~/css/examStyle.css" />
    <link rel="stylesheet" href="~/css/flaticon/css/uicons-regular-rounded.css">
    <link rel="stylesheet" href="~/css/Index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-page="/Index"><img src="~/images/v2/logo_transparent2.png" alt="Alternate Text" style="width : auto; height:auto;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center ml-5" style="font-family: BPG Arial Caps, sans-serif;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" asp-area="" asp-page="/Index">მთავარი</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" asp-area="" asp-page="/CreateTest">ტესტები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" asp-area="" asp-page="/Statistics">სტატისტიკა</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-lg-right text-dark bg-light">
        <div class="container">
            &copy; 2021 - USML
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
